@{
    Layout = "_AdminLayout";
}
@model IEnumerable<Promotion>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Таблица товара
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Наименование промокода</th>
                    <th>Процент скидки</th>
                    <th>Начало акции</th>
                    <th>Окончание акции</th>
                    <th>Описание промокода</th>
                    <th>Промокод</th>
                    <th>Публичный статус</th>
                    <th>Управление</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var q in Model)
                    {
                        <tr>
                            <td>@q.Name</td>
                            <td>@q.Percentage</td>
                            <td>@q.CreateDate.ToShortDateString()</td>
                            <td>@q.ClosedDate.ToShortDateString()</td>
                            <td>@q.Description</td>
                            <th>@q.PromotionCode</th>
                            <th>
                                @if (q.PublicStatus)
                                {
                                    <p>Активирован</p>
                                }
                                else
                                {
                                    <p>Деактивирован</p>
                                }
                            </th>
                        <td>
                            <a asp-action="PromotionUpdate" asp-route-id="@q.Id" class="btn btn-primary"> Редактировать </a>
                            <a asp-action="PromotionDelete" asp-route-id="@q.Id" class="btn btn-primary"> Удалить </a>
                        </td>
                    </tr>
                }
                }
            </tbody>
        </table>
        <a class="btn btn-primary text-center" asp-controller="Promotion" asp-action="PromotionForm">Добавить промокд</a>
    </div>
</div>
