@{
    Layout = "_AdminLayout";
}
@model IEnumerable<ItStore.Models.DataFolder.ProductQuantity>


<a class="btn btn-primary text-center" asp-controller="WareHouse" asp-action="WareHouseForm">Добавить склад</a>
<div class="card mb-4">
      
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            <p>Информация товара на складе</p>
        </div>
        <div class="card-body">
            <table class="table" id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Наименование склада</th>
                        <th>Адресс склада</th>
                        <th>Наименование продукта</th>
                        <th>Модель продукта</th>
                        <th>Количество продукта</th>
                        <th>Упрвление продукта</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var productQuantity in Model.OrderBy(q => q.WareHouseId))
                    {

                        <tr>
                            <td><b>@productQuantity.WareHouse.Name</b></td>
                            <td>@productQuantity.WareHouse.Adress</td>
                            <td>@productQuantity.Product.Name</td>
                            <td>@productQuantity.Product.Model</td>
                            <td>@productQuantity.Quantity</td>
                            <td>
                                <a asp-controller="ProductQuantity" asp-action="ProductQuantity" asp-route-ProdId="@productQuantity.Product.Id" class="btn btn-primary"> Подробнее о продукте </a>
                                <a asp-controller="ProductQuantity" asp-action="ProductQuantityUpdate" asp-route-id="@productQuantity.Id" class="btn btn-primary"> Редактировать кол-во</a>
                                <a asp-action="" asp-route-id="@productQuantity.WareHouse.Id" class="btn btn-primary"> Удалить запись </a>
                            </td>
                        </tr>

                    }
                </tbody>
                </table>
            <a class="btn btn-primary text-center" asp-controller="ProductQuantity" asp-action="ProductQuantityForm">Добавить информацию о количестве продукта</a>
        </div>


</div>
