@{
    Layout = "_AdminLayout";
}
@model IEnumerable<ItStore.Models.DataFolder.WareHouse>


<a class="btn btn-primary text-center" asp-controller="WareHouse" asp-action="WareHouseForm">Добавить склад</a>
<div class="card mb-4">
    @foreach (var q in Model)
    {

        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            <span>Наименование склада: @q.Name</span> <span>Адресс: @q.Adress</span>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Количество</th>
                        <th>Продукты</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var prodqiantity in q.ProductQuantities)
                    {
                        @foreach (var Product in q.Product)
                        {

                            <tr>
                                <td>@Product.Name</td>
                                <td>@prodqiantity.Quantity</td>
                                <td>
                                    <a asp-controller="Product" asp-action="Product" asp-route-ProdId="@Product.Id" class="btn btn-primary"> Подробнее о продукте </a>
                                    <a asp-action="ProductQuantityUpdate" asp-route-id="@prodqiantity.Id" class="btn btn-primary"> Редактировать кол-во на складе </a>
                                    <a asp-action="" asp-route-id="@q.Id" class="btn btn-primary"> Удалить запись о количестве yyy </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <a class="btn btn-primary text-center" asp-controller="ProductQuantity" asp-action="ProductQuantityForm">Добавить информацию о количестве продукта</a>
        </div>
    }

</div>
