@{
    Layout = "_AdminLayout";
}
@model ProfileViewModel

<div class="row-cols-md-2">
    <h3>История покупок</h3>
    @foreach (var history in Model.Histories)
    {

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Дата покупки @history.DateTime
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Количество</th>
                            <th>Цена</th>
                        </tr>
                    </thead>
                    <tbody>


                            <tr>
                                <td>@history.ProductName</td>
                                <td>@history.ProductQuantity</td>
                                <td>@(int.Parse(history.ProductPrice) * int.Parse(history.ProductQuantity))</td>
                            </tr>

        

                    </tbody>
                    <tfoot>
                        <tr>
                            @if (history.NamePromotion != "-")
                            {
                               

                                    <td>Активирован промокод @history.NamePromotion применена скидка на @history.PercentAge процента</td>

                               
                            }
                        </tr>
                        <tr>
                            <td colspan="3">
                                <span><b>Итого</b></span>
                                <span style="float:right;">@history.TotalPrice</span>
                            </td>
                        </tr>

                    </tfoot>
                </table>
            </div>
        </div>
    }
</div>