@{
    Layout = "_AdminLayout";
}
@model IEnumerable<FeedBack>

<div class=" text-center">
    <h3>Открытые обращения</h3>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Обращения
        </div>
        <div class="card-body">
            <table class="table" id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Дата обращения</th>
                        <th>Логин</th>
                        <th>Тип обращения</th>
                        <th>Основная почта</th>
                        <th>Вспомогательная почта</th>
                        <th>ФИО пользователя</th>
                        <th>Обращение</th>
                        <th>Ответственный</th>
                        <th>Коментарий</th>
                        <th>Управление</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var openfeedback in Model.Where(q => q.FeedbakStatus == true))
                    {

                        <tr>
                            <td>@openfeedback.Created.ToShortDateString()</td>
                            <td>@openfeedback.Login</td>
                            <td>@openfeedback.TypeMessage</td>
                            <td>@openfeedback.MainEmail</td>
                            <td>@openfeedback.AuxiliaryEmail</td>
                            <td>@openfeedback.Name</td>
                            <td>@openfeedback.Text</td>
                            <td><b>@openfeedback.Admin</b> </td>
                            <td><b>@openfeedback.AdminCommentaries</b></td>
                            <td>
                                <form asp-action="EditFeedBack" method="get">
                                    <input type="hidden" name="id" value="@openfeedback.id" />
                                    <button class="btn btn-primary" type="submit"> Отозваться </button>
                                </form>                             
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>

</div>