@model HistoryViewModel
<div class="intro">
    <div class="container">
        <form asp-action="Logout method="post">
            <p>
                <button class="btn" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</button>
            </p>
        </form>
        <h1>Hi @User.Identity.Name</h1>
    </div>
</div>

<table class="row-col-md-4">
    <tr>
        <th>Наименование</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Дата заказа</th>
    </tr>
    @foreach (var order in Model.Order)
    {
        @foreach (var cartline in Model.CartLine)
        {
            @foreach (var product in order.Lines.Where(q => q.CartLineId == cartline.CartLineId))
            {

                <tr>
                    <td>@product.Product.Name</td>
                    <td>@cartline.Quantity</td>
                    <td>@order.TotalPrice</td>
                    <td>@order.TimeOrders</td>
                </tr>
            }
        }
    }

</table>