@model ProfileViewModel

<img class="profile__image__right" src="~/Images/Ellipse .png" />
<img class="profile__image__left" src="~/Images/EllipseDark.png" />
<form asp-action="Logout method="post">
    <p class="text-end text__decoration">
        <button title="Выход" class="btn__link " asp-area="" asp-controller="Account" asp-action="Logout"><img class="btn__exit" src="~/Images/Icons/exit.png" /></button>
    </p>
</form>
<div class=" product__min__cart__profile">


    <div class="profile mb-2 ">
        <h2 class="text-center">Персональные данные</h2>
    </div>

    <div class=" row profile">

        <div class="col mx-1 text-white">
            <table class="table">
                <tr>
                    <th>
                        <b>Контакты</b>
                    </th>
                    <th>
                        <form asp-action="ProfileUpdate" asp-controller="Account" method="get">
                            <input type="hidden" name="ProfileName" value="@User.Identity.Name" />
                            <button class="btn__link" type="submit">Редактровать</button>
                        </form>
                    </th>
                </tr>
                @foreach (var User in Model.AppUser)
                {
                    <tr>
                        <td>
                            <b>ФИО:</b>
                        </td>
                        <td>
                            @if (User.FatherName == null && User.LastName == null && User.FatherName == null)
                            {
                                <p>-</p>
                            }
                            else
                            {
                                <p> @User.FirstName @User.LastName @User.FatherName </p>
                            }

                        </td>
                    </tr>
                    <tr class="tr__style">
                        <td>
                            <b>Телефон:</b>
                        </td>
                        <td>
                            @if (User.PhoneNumber == null)
                            {
                                <p>-</p>
                            }
                            else
                            {
                                <p> @User.PhoneNumber</p>
                            }

                        </td>
                    </tr>
                    <tr class="tr__style">
                        <td>
                            <b>E-mail:</b>
                        </td>
                        <td>
                            @if (User.Email == null)
                            {
                                <p>-</p>
                            }
                            else
                            {
                                <p>  @User.Email </p>
                            }

                        </td>
                    </tr>
                }
                @foreach (var PromotionCode in Model.Promotion)
                {
                    <tr class="tr__style">
                        <td>
                            <b>Уникальный купон:</b>
                        </td>
                        <td>
                            @if (PromotionCode.PromotionCode == null)
                            {
                                <p>-</p>
                            }
                            else
                            {
                                <p> @PromotionCode.PromotionCode </p>
                            }

                        </td>
                    </tr>
                }

            </table>
        </div>



        <div class="col mx-1 text-white">
            <table class="table">
                <tr>
                    <th>
                        <b>Адресс доставки</b>
                    </th>
                    <th>
                        <button class="btn__link" href="#">Редактровать</button>
                    </th>
                </tr>
                @foreach (var User in Model.AppUser)
                {
                    <tr>
                        <td>
                            <b>Город:</b>
                        </td>
                        <td>
                            @if (User.City == null)
                            {
                                <p>-</p>
                            }
                            else
                            {
                                <p> @User.City </p>
                            }

                        </td>
                    </tr>
                    <tr class="tr__style">
                        <td>
                            <b>Улица:</b>
                        </td>
                        <td>
                            @if (User.Street == null)
                            {
                                <p>-</p>
                            }
                            else
                            {
                                <p> @User.Street</p>
                            }
                        </td>
                    </tr>
                    <tr class="tr__style">
                        <td>
                            <b>Дом:</b>
                        </td>
                        <td>
                            @if (User.House == null)
                            {
                                <p>-</p>
                            }
                            else
                            {
                                <p>  @User.House </p>
                            }

                        </td>
                    </tr>

                    <tr class="tr__style">
                        <td>
                            <b>Номер квартиры:</b>
                        </td>
                        <td>
                            @if (@User.Flat == null)
                            {
                                <p> - </p>
                            }
                            else
                            {
                                <p> @User.Flat </p>
                            }

                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>

<div class="product__min__cart__profile">


    <div class="intro text-white container cart">
        <h2 class="text-center">Мои заказы</h2>
        <table class="table text-white mt-2">
            <tr>
                <td class="text-left">Продукт</td>
                <td class="text-left">Наличие</td>
                <td class="text-center">Количество</td>
                <td colspan="2" class="text-left">Цена</td>
            </tr>
            @foreach (var q in Model.Cart.Lines)
            {
                <tr>
                    <th class="text-left">
                        <div class="text-left">
                            <span>
                                @Html.Raw("<img style='width:109px; height:110px;' src=\"data:image/jpeg;base64,"
                                                   + Convert.ToBase64String(q.Product.Image) + "\" />")
                            </span>

                            <span class="m-2"> @q.Product.Name </span>
                        </div>
                    </th>
                    <th class="text-left">
                        @{
                            foreach (var quantity in Model.ProductQuantity.Where(w => w.ProductId == q.Product.Id))
                            {
                                if (quantity.Quantity >= q.Quantity && quantity.Quantity != null)
                                {
                                    <p>В наличии</p>
                                }
                                else
                                {
                                    <p>Не в наличии</p>
                                }
                            }
                        }
                    </th>
                    <th class="text-center">@q.Quantity</th>
                    <th class="text-left"> @((q.Quantity*q.Product.Price)) ₽</th>
                    <th class="text-left">
                        <form asp-action="RemoveFromCart" method="post">
                            <input type="hidden" name="Id" value="@q.Product.Id" />
                            <button type="submit" class="btn__link "><img src="~/Images/Icons/Bin.png" /></button>
                        </form>
                    </th>
                </tr>
            }

        </table>
    </div>
    <div class="row">
        <span class="cart__text col">Итого:  @Model.Cart.ComputeTotalValue() ₽</span>
        <form asp-action="Cart" asp-controller="Cart" class="col text__end mb-3">
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button class="cart__btn" type="submit">Перейти в корзину</button>
        </form>
    </div>
</div>



<div class="product__min__cart__profile text-white">
    <h2 class="text-center">История заказов</h2>

    <table class="cart table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Наименование</th>
                <th>Количество</th>
                <th>Цена</th>
            </tr>
        </thead>
        @foreach (var order in Model.Order)
        {
            <tbody>

                @foreach (var cartline in Model.CartLine)
                {
                    <tr>
                        <td>@order.TimeOrders.ToShortDateString()</td>
                        <td>@cartline.ProductName @cartline.ProductModel</td>
                        <td>@cartline.Quantity</td>
                        <td>@(cartline.ProductPrice * cartline.Quantity)</td>
                    </tr>

                }

            </tbody>
            <tfoot>
                <tr>
                    @if (order.Promotions != null)
                    {
                        @foreach (var promotion in Model.Promotion)
                        {

                            <td>Активирован промокод @order.Promotions применена скидка на @promotion.Percentage процента</td>

                        }
                    }
                </tr>
                <tr>
                    <td colspan="4">
                        <span><b>Итого</b></span>
                        <span style="float:right;">@order.TotalPrice</span>
                    </td>
                </tr>

            </tfoot>
        }
    </table>
</div>
