@model CartIndexViewModel
<div class="intro intro__title text-white">
    <h2>Корзина</h2>
    <table class="table text-white">
        <tr>
            <td >Количество</td>
            <td>Продукт</td>
            <td class="text-right">Цена</td>
            <td class="text-right">Всего</td>
        </tr>
        @foreach (var q in Model.Cart.Lines)
        {
            <tr>
                <th class="text-left">@q.Quantity</th>
                <th class="text-left">@q.Product.Name</th>
                <th class="text-right"> @q.Product.Price.ToString("c")</th>
                <th class="text-right">
                    @((q.Quantity*q.Product.Price).ToString("c"))
                </th>
            </tr>
        }
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Итого</td>
                <td class="text-right">
                    @Model.Cart.ComputeTotalValue().ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="text-center">
        <a class="btn" href="@Model.ReturnUrl">Назад</a>
    </div>
</div>
