@model CartIndexViewModel
<div class="intro text-white container">
    <h2>Корзина</h2>    
    <table class="table text-white">
        <tr>
            <td>Количество</td>
            <td>Продукт</td>
            <td class="text-right">Цена</td>
            <td class="text-right">Всего</td>
            <td class="text-right">Навигация</td>
        </tr>
        @foreach (var q in Model.Cart.Lines)
        {
            <tr>
                <th class="text-left">@q.Quantity</th>
                <th class="text-left">@q.Product.Name</th>
                <th class="text-right"> @q.Product.Price.ToString("c")</th>
                <th class="text-right"> @((q.Quantity*q.Product.Price).ToString("c")) </th>
                <th>
                    <form asp-action="RemoveFromCart" method="post">
                        <input type="hidden" name="Id" value="@q.Product.Id" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn">Удалить</button>
                    </form>
                </th>
            </tr>
        }
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Итого</td>
                <td class="text-right">
                   @Model.Cart.ComputeTotalValue().ToString() ₽
                </td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    <div class="text-center">
        <form asp-action="OrderForm" asp-controller="Order" method="get">
            <a class="btn" href="@Model.ReturnUrl">Назад</a>
            <input type="hidden" name="ProductName" value="@foreach (var q in Model.Cart.Lines){@q.Product.Name}"/>
            <input type="hidden" name="ProductQuantity" value="@foreach (var q in Model.Cart.Lines){@q.Quantity}"/>
            <button class="btn" type="submit" name="TotalPrice" value="@Model.Cart.ComputeTotalValue()">Заказать</button>
        </form>
    </div>
</div>
