@model Order


<div class="row">

    <h3 class="text-center text-white">Оформление заказа на сумму @ViewBag.TotalPrice ₽</h3>
    <div class="col-4">

        @if (ViewBag.PromotionStatus != null)
        {
            <p class="text-white"> @ViewBag.PromotionStatus</p>
        }


        <form asp-action="PromotionRemains" method="post" class="row">
            <input type="hidden" name="TotalPrc" value="@ViewBag.TotalPrice" />

            <div class="col-8">               
                <input class="form-control px-2" name="PromotionCode" placeholder="Промокод..."/>
            </div>

            <div class="col">
                <button style="float:right;" class="btn" type="submit">Применить</button>
            </div>
        </form>

        <form asp-action="OrderForm" method="post">
            <div asp-validation-summary="All" class="text-white"></div>
            <input type="hidden" name="Name" value="@User.Identity.Name" />
            <input type="hidden" name="TimeOrders" value="@DateTime.Now" />
            <p class="text-white">
                <label asp-for="Street">Улица</label>
                <input class="form-control" asp-for="Street" />
            </p>
            <p class="text-white">
                <label asp-for="City">Город</label>
                <input class="form-control" asp-for="City" />
            </p>
            <p class="text-white">
                <label asp-for="DeliveryMethod">Метод доставки</label>
                <input class="form-control" asp-for="DeliveryMethod" />
            </p>

            <div>
                <input type="hidden" name="TotalPrice" value="@ViewBag.TotalPrice" />
                <input type="hidden" name="PromotionCode" value="@ViewBag.PromotionCode" />
                <input type="hidden" name="ProdName" value="@ViewBag.ProductName" />
                <input type="hidden" name="ProdQuantity" value="@ViewBag.ProductQuantity" />
                <button class="btn" type="submit"> Завершить </button>
            </div>
        </form>


    </div>

    <div class="col-auto">
        <img class="order__image" src="~/Images/MainPages/OrderForm.png" />
    </div>

</div>

