@model Order


<div class="row order__input">

    <h3 class="text-center text-white pb-4 form__text">Оформление заказа на сумму @ViewBag.TotalPrice ₽</h3>
    <img class="order__image__left" src="~/Images/Ellipse .png"/>
    <img class="order__image__right" src="~/Images/EllipseDark.png"/>
    <div class="col-4 form__position">

        @if (ViewBag.PromotionStatus != null)
        {
            <p class="text-white"> @ViewBag.PromotionStatus</p>
        }


        <form asp-action="PromotionRemains" method="post" class="row">
            <input type="hidden" name="TotalPrc" value="@ViewBag.TotalPrice" />

            <div class="col-8">               
                <input class="form-control px-2" name="PromotionCode" placeholder="Промокод..."/>
            </div>

            <div class="col">
                <button style="float:right;" class="btn" type="submit">Применить</button>
            </div>
        </form>

        <form asp-action="OrderForm" method="post">
            <div asp-validation-summary="All" class="text-white"></div>
            <input type="hidden" name="Name" value="@User.Identity.Name" />
            <input type="hidden" name="TimeOrders" value="@DateTime.Now" />

            <p class="text-white">
                <label asp-for="City">Город</label>
                <input class="form-control" asp-for="City" />
            </p>

            <p class="text-white">
                <label asp-for="Street">Улица</label>
                <input class="form-control" asp-for="Street" />
            </p>

            <p class="text-white">
                <label asp-for="House">Номер дома</label>
                <input class="form-control" asp-for="House" />
            </p>

            <p class="text-white">
                <label asp-for="Flat">Номер квартиры</label>
                <input class="form-control" asp-for="Flat" />
            </p>

            <p class="text-white">
                <label asp-for="DeliveryMethod">Метод доставки</label>
                <input class="form-control" asp-for="DeliveryMethod" />
            </p>

            <div class="row btn__position">
                <input type="hidden" name="TotalPrice" value="@ViewBag.TotalPrice" />
                <input type="hidden" name="PromotionCode" value="@ViewBag.PromotionCode" />
                <input type="hidden" name="ProdName" value="@ViewBag.ProductName" />
                <input type="hidden" name="ProdQuantity" value="@ViewBag.ProductQuantity" />
                <button class="btn col-4 " asp-controller="Cart" asp-action="Cart">Назад</button>
                <button class="btn col-4" type="submit"> Завершить </button>
            </div>
        </form>
    </div>

    <div class="col-auto form-check ">
        <img class="order__image" src="~/Images/MainPages/OrderForm.png" />
    </div>

</div>

