@{
    Layout = "_AdminLayout";
}
@model IEnumerable<ItStore.Models.DataFolder.ProductQuantity>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Таблица товара
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Наименование продукта</th>
                    <th>Модель</th>
                    <th>Категория</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Наименование Склада</th>
                    <th>Управление продуктом</th>
                    <th>Управление данными склада о продукте</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var q in Model)
                    {
                        <tr>
                            <td>@q.Product.Name</td>
                            <td>@q.Product.Model</td>
                            <td>@q.Product.Categories</td>
                            <td>@q.Product.Price</td>
                            <td>@q.Quantity</td>
                            <td>@q.WareHouse.Name</td>
                            <td>
                                <a asp-controller="Options" asp-action="Options" asp-route-ProdId="@q.Product.Id" class="btn btn-primary"> Технические характеристики </a>
                                <a asp-controller="Product" asp-action="ProductUpdate" asp-route-id="@q.Product.Id" class="btn btn-primary"> Редактировать </a>
                                <a asp-controller="Product" asp-action="ProductDelete" asp-route-id="@q.Product.Id" class="btn btn-primary"> Удалить </a>
                            </td>
                            <td>
                                <a asp-action="ProductQuantityUpdate" asp-route-id="@q.Id" class="btn btn-primary"> Редактировать </a>
                                <a asp-action="ProductQuantityDelete" asp-route-id="@q.Id" class="btn btn-primary"> Удалить </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <a class="btn btn-primary text-center" asp-controller="WareHouse" asp-action="WareHouse">Назад</a>
    </div>
</div>