@model IEnumerable<ItStore.Models.DataFolder.Product>
<div class="intro intro__title">
    <table>
        <tr>
            <td>Наименование</td>
            <td>Цена</td>
            <td>Доступность</td>
            <td>Количество</td>
            <td>Модель</td>
            <td>Seo</td>
        </tr>
        <tr>
            @{
                foreach (var q in Model)
                {
                    <th>@q.Name.</th>
                    <th>@q.Price</th>
                    <th>@q.Aviability</th>
                    <th>@q.Quantity</th>
                    <th>@q.Model</th>
                    <th>@q.SEO</th>
                }
            }

        </tr>
    </table>
    <button class="btn" asp-controller="Product" asp-action="ProductForm">Заполнение продуктов</button>
</div>