@{ 
    Layout = "_AdminLayout";
}
@model IEnumerable<ItStore.Models.DataFolder.Product>

<div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Таблица товара
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Цена</th>
                        <th>Модель</th>
                        <th>Управление</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Нименование</th>
                        <th>Цена</th>
                        <th>Модель</th>
                    </tr>
                </tfoot>
                <tbody>
                    @{
                        foreach (var q in Model)
                        {
                            <tr>
                                <td>@q.Name.</td>
                                <td>@q.Price</td>
                                <td>@q.Model</td>
                                <td>
                                    <a asp-controller="Options" asp-action="Options" asp-route-ProdId="@q.Id" class="btn btn-primary"> Технические характеристики </a>
                                    <a asp-action="ProductUpdate" asp-route-id="@q.Id" class="btn btn-primary"> Редактировать </a>
                                    <a asp-action="ProductDelete" asp-route-id="@q.Id" class="btn btn-primary"> Удалить </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <a class="btn btn-primary text-center" asp-controller="Product" asp-action="ProductForm">Добавить продукт</a>
        </div>
    </div>